{% extends "WallabagCoreBundle::layout.html.twig" %}

{% block title %}{{ 'restrict.index.page_title'|trans({}, 'frama') }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s12">
            <div class="card-panel">
                <h4>{{ 'restrict.index.page_body.title'|trans({}, 'frama') }}</h4>
                <p>{{ 'restrict.index.page_body.stats'|trans({'%count%': nb_articles}, 'frama') | raw }}</p>
                <p>{{ 'restrict.index.page_body.tips'|trans({}, 'frama') }}</p>
                <div class="divider"></div>
                <div class="section">
                    <h5>{{ 'restrict.index.delete_read.title'|trans({}, 'frama') }}</h5>
                    <p>{{ 'restrict.index.delete_read.body'|transchoice(nb_archived_articles, {}, 'frama') | raw }}</p>
                    <p>{{ 'restrict.index.delete_read.body_export'|trans({}, 'frama') }}</p>
                    <a href="{{ path('export_entries', { 'category': 'archive', 'format': 'json' }) }}" class="waves-effect waves-light btn">{{ 'restrict.index.delete_read.export'|trans({}, 'frama') | raw }}</a>
                    <a href="{{ path('config_reset', { type: 'archived'}) }}" onclick="return confirm('{{ 'config.reset.confirm'|trans|escape('js') }}')" class="waves-effect waves-light btn orange">{{ 'restrict.index.delete_read.button'|trans({}, 'frama') | raw }}</a>
                </div>
                {% if craue_setting('export_json') %}
                    <div class="divider"></div>
                    <div class="section">
                        <h5>{{ 'restrict.index.export.title'|trans({}, 'frama') }}</h5>
                        <p>{{ 'restrict.index.export.body'|trans({}, 'frama') | raw }}</p>
                        <blockquote>{{ 'restrict.index.export.note'|trans({}, 'frama') | raw }}</blockquote>
                        <a href="{{ path('export_entries', { 'category': 'all', 'format': 'json' }) }}" class="waves-effect waves-light btn">{{ 'restrict.index.export.button'|trans({}, 'frama') | raw }}</a>
                        <a href="{{ path('delete_account') }}" onclick="return confirm('{{ 'config.form_user.delete.confirm'|trans|escape('js') }}')" class="waves-effect waves-light btn red delete-account">
                            {{ 'config.form_user.delete.button'|trans }}
                        </a>
                    </div>
                {% endif %}
                <div class="divider"></div>
                <div class="section">
                    <h5>{{ 'restrict.index.help.title'|trans({}, 'frama') }}</h5>
                    <blockquote>{{ 'restrict.index.help.why.title'|trans({}, 'frama') }}</blockquote>
                    <p>{{ 'restrict.index.help.why.answer'|trans({}, 'frama') }}</p>
                    <blockquote>{{ 'restrict.index.help.pay.title'|trans({}, 'frama') }}</blockquote>
                    <p>{{ 'restrict.index.help.pay.answer'|trans({}, 'frama') | raw }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}